.App {
  text-align: center;
}
.App-title{
  color: black;

}

.employee-card {
   height: 100%; /* Full-height: remove this if you want “auto” height */
   width: 210px; /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: blue;
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 20px;
   color: black;

}

.company-card{
  border: 1px solid white;
  margin: 1rem;
  background-color: red;
  padding: 1rem;
  color: white;
}
.company-list{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.employee-list{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.manager-card{
  border: 1px solid white;
  margin: 1rem;
  background-color: red;
  padding: 1rem;
  color: white;
}
body{
  background-color: white;
}
.manager-list{

  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.App-header {
 background-color: white;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}
.App{
  background-color: white;

}
.break-card{
  border: 1px solid white;
  margin: 1rem;
  background-color: red;
  padding: 1rem;
  color: white;
}
.break-list{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
